<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<!-- set viewport to device width to make site responsive -->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- bootstrap css -->
		<link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<!-- custom styles -->
		<link rel="stylesheet" type="text/css" href="main.css">
		<title>Micro Blog</title>
	</head>
	<body>
		<div class="container">
			<div class="row">
				<div class="jumbotron col-md-6">
					<h1 class="text-center">Micro Blog</h1>
					<!-- Button trigger modal -->
					<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
					Create new Post
					</button>
				</div>
				<div class="container" id="posts-list"></div>
				<script id="blogs-template" type="text/x-handlebars-template">
					\{{#each posts}}
						<div class="col-md-6 well">
							<h2>\{{post}}</h2>
							<div>\{{description}}</div>
							<button type="button" class="btn btn-default btn-xs edit" data-post-id="\{{_id}}" data-toggle="modal" data-target="#myModal" data-placement="bottom" title="Edit"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
							</button>
							<button type="button" class="btn btn-default btn-xs delete" data-post-id="\{{_id}}" data-placement="bottom" title="Delete"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
						</div>
					\{{/each}}
				</script>
			</div>
		</div>

		<!-- Modal -->
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<h4 class="modal-title" id="myModalLabel">
							Title:
							<input type="text" id="new-post-title" class="form-control" placeholder="Text input">
						</h4>
					</div>
					<div class="modal-body">Post goes here:<textarea class="form-control" id="new-post-text" rows="3" placeholder="New post goes here"></textarea>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						<button type="button" class="btn btn-primary save-text-button">Save changes</button>
					</div>
				</div>
			</div>
		</div>
		
		
		<!-- jquery -->
		<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
		<!-- bootstrap js -->
		<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
		<!-- handlebars -->
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.3/handlebars.min.js"></script>
		<!-- custom script -->
		<script type="text/javascript" src="main.js"></script>
	</body>
</html>