{{> header}}

	{{#if user}}
	<h2>Welcome, {{user.username}}!</h2>
		<hr>
		<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
	Create new Post
	</button>
		<div class="container" id="posts-list"></div>
	{{/if}}
		<!-- jquery -->
		<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
		<!-- bootstrap js -->
		<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
		<!-- handlebars -->
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.3/handlebars.min.js">
		</script>
		<!-- custom script -->
		<script type="text/javascript" src="profile.js"></script>
</body>
</html>
