{{> header}}

	{{#if user}}
	<h2>Welcome, {{user.username}}!</h2>
		<p>Pick your spirit animal</p>
		<hr>
		{{#each user.posts}}
			<p><strong>{{post}}</strong>{{description}}</p>
		{{/each}}
	{{/if}}
		<!-- jquery -->
		<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
		<!-- bootstrap js -->
		<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
		<!-- handlebars -->
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.3/handlebars.min.js">
		</script>
		<!-- custom script -->
		<script type="text/javascript" src="main.js"></script>
</body>
</html>
