.post-image {
	width: 100%;
}

.jumbotron {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#59adeb+0,35ce94+100 */
	background: #59adeb; /* Old browsers */
	background: -moz-linear-gradient(left,  #59adeb 0%, #35ce94 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left,  #59adeb 0%,#35ce94 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right,  #59adeb 0%,#35ce94 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#59adeb', endColorstr='#35ce94',GradientType=1 ); /* IE6-9 */

}